* {
    color: white;
}

body {
    background-color: #444444;
}

h1 {
    color: #0A0708;
}

.container {
    margin-top: 20px;
}

.btn {
    background-color: #747474;
    color: #0A0708;
}

.input-group {
    background-color: #444444;
    border: none;
    border-bottom: 2px solid #B1B1B1;

}

.card {
    border: none;
    background-color: #444444;
}